<ion-header>
    <ion-toolbar>
      <ion-title>
        Ionic Blank
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content  color="primary">
       <ion-item>
        
    <!-- <ion-item href="/home" routerDirection="forward"> -->
    <!-- <form  #form="ngForm" (ngSubmit)="LoginPage"> -->
      <ion-grid>
      
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
                <ion-item href="/register" routerDirection="forward"></ion-item>
              <h3>Login Now!</h3>
            </div>
            <div padding>
              <ion-item>
                <ion-input  name="name" type="text" placeholder="Name" ngModel required></ion-input>
              </ion-item>
              <!-- <ion-item>
                <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
              </ion-item> -->
              <ion-item>
                <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
              </ion-item>
          <!--     <ion-item>
                <ion-input name="confirm" type="password" placeholder="Password again" ngModel required></ion-input>
              </ion-item> -->
            <ion-item>
                <ion-button ion-button (click)="Loginn()"  ion-button color="success" size ="small">Register Now </ion-button>
            </ion-item>
            </div>
            <div padding>
              <!-- <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button> -->
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      </ion-item>
  </ion-content>