<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>



  <ion-card *ngFor="let item of expenses; let i= index " class="modify">
    <!-- <ion-card-content (click)="openPage(item, $index)"> -->

    <!-- <ion-item href="/login" routerDirection="forward"> -->
    <ion-item>
      <div class="alignment">

        <div> <b>ID: </b> {{ item.id}}</div><br>
        <div> <b>USERNAME: </b> {{ item.username}}</div><br>
         <ion-button (click)="ngIfCtrl(i)" ion-button color="tertiary">View More </ion-button><br> 
    


        <div [hidden] ="hide[i]"> <b>TITLE: </b> {{ item.title}}<br>
          <div> <b>BODY: </b> {{ item.body}}</div><br>
         <!-- <ion-button (click)="openPage(i)" ion-button color="medium"> Update </ion-button>  -->
           <ion-button (click)="openPage(i)" ion-button color="medium"> Update </ion-button>
          <ion-label>{{ id }}</ion-label>
          <ion-input [(ngModel)]=item.id name="id"></ion-input>
          <ion-label>{{ username }}</ion-label>
          <ion-input [(ngModel)]=item.username name="username"></ion-input>
          <ion-label>{{ title }}</ion-label>
          <ion-input [(ngModel)]=item.title name="title"></ion-input>
          <ion-label>{{ body }}</ion-label>
          <ion-input [(ngModel)]=item.body name="body"></ion-input> 
         </div> 

      </div>
    </ion-item>


  </ion-card>

  <ion-button ion-button (click)="Login()" ion-button color="danger">Login Now </ion-button>

</ion-content>